@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 1, 4, 29;
  --background-end-rgb: 1, 4, 50;
}


.amplify-menu-content {
  --amplify-components-button-color: var(--amplify-colors-secondary-200);
}
.amplify-menu-trigger {
  --amplify-components-button-border-color: var(
    --amplify-colors-secondary-90
  );
  --amplify-components-button-color: var(--amplify-colors-secondary-90);
}



